<section id="clients" class="colored_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center padding_slogan">
                <h2 style="color:white" class="section-heading">Our Clients</h2>
            </div>
        </div>
        <div class="row padding_slogan">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i style="color:white" class="fab fa-4x fa fa-university wow bounceIn text-primary"></i>
                    <h3 style="color:white">Institutional Investors</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i style="color:white" class="fas fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3 style="color:white">High Net Worth Individuals</h3>
                </div>
            </div>
        </div>
    </div>
</section>