<section id="clients" class="">
    <div class="container">
        <div class="row padding_slogan">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa fa-university wow bounceIn text-primary"></i>
                    <h3>Financial Institutions</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>High Net Worth Individuals</h3>
                </div>
            </div>
        </div>
    </div>
</section>