<header>
    <div class="bg-wrap">
        <div class="bg" style="background-image: url('{{ site.baseurl }}/img/header.jpg');">
        </div>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><em>CheckSig</em></h1>
            <h2><em>An open Bitcoin Custody solution</em></h2>
            <hr>
            <p>
                A Crypto Asset custody solution for Institutional and High-Net Worth individuals
            </p>  
        </div>
    </div>

</header>
