<head>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic"
        rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-free-5.8.1-web/css/all.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{page.title}}</title>
    <meta property="og:title" content="{{page.title| strip_html}}">

    {% if page.description %}
    <meta name="description" content="{{page.description| strip_html}}">
    <meta property="og:description" content="{{page.description| strip_html}}">
    {% elsif page.subtitle %}
    <meta name="description" content="{{page.subtitle| strip_html}}">
    <meta property="og:description" content="{{page.subtitle| strip_html}}">
    {% elsif page.excerpt %}
    <meta name="description" content="{{page.excerpt| strip_html}}">
    <meta property="og:description" content="{{page.excerpt| strip_html}}">
    {% else %}
    <meta name="description" content="{{site.description| strip_html }}">
    <meta property="og:description" content="{{site.description| strip_html }}">
    {% endif %}

    <meta property="og:site_name" content="{{site.name| strip_html}}">

    {% if page.url %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
    <meta name="author" content="{{site.name| strip_html}}">
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
    {% elsif post.url %}
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
    <meta name="author" content="{{post.author| strip_html}}">
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
    {% endif %}

    {% if page.lang == "it"%}
    <meta property="og:locale" content="it_IT">
    {% else %}
    <meta property="og:locale" content="en_US">
    {% endif %}
  
</head>