<header>
    <div class="bg-wrap">
        <div class="bg"></div>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <!--img src="img/logos/CheckSig-logo-transparent-neg.png" alt="CheckSig" width="500"-->
            <h1><em>Transparent Bitcoin Custody</em></h1>
            <p>
                CheckSig provides transparent bitcoin custody
                based on a public open standard protocol.<br>
                We reject _security by obscurity_
                in favor of the extreme auditability of
                a multi-level multi-party multi-location process
                hardened by customized multi-signature hardware.<br>
                Aimed at institutions and high-net-worth individuals,
                our solution provides
                periodic proof-of-reserve blockchain transactions
                and is covered by insurance guarantees.
            </p>
        </div>
    </div>
</header>
