<header>
    <div class="bg-wrap">
        <div class="bg"></div>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>CheckSig</h1>
            <h2><em>Open Transparent Multi-Party Bitcoin Custody Solution
                for Institutional and High-Net-Worth Individuals</em></h2>
            <hr>
            <p>
                Bitcoin is about _financial sovereignty_
                and having direct control of
                your keys because, as people say,
                _not your keys, not your bitcoins_.
                Nonetheless, there are cases like financial institutions,
                high-net-worth individuals, lack of proper technical skills,
                etc. where a custodial solution
                might be convenient or even prescribed.
                
                CheckSig implements an open transparent
                multi-party custody protocol that:

                * avoids reliance on "security by obscurity", being
                  an auditable *public standard* subject to peer review;
                * provides transparency to the custodian's clients,
                  so that they can be
                  certain that their assets are held in a secure manner.
                
                The guiding principles defining this protocol are:

                * to store bitcoin under custody in such a way as to minimize
                  risk of loss of funds through theft, error, or other mishap;
                * to rely on the Bitcoin Core protocol implementation
                  for security wherever possible, rather than
                  inventing new functionality or procedures;
                * to remain neutral regarding future changes to the
                  Bitcoin protocol.
            </p>  
        </div>
    </div>
</header>
