<section id="protocol">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Custody Solution</h2>
            </div>
        </div>
        <div class="row padding">
            <p class="text-muted">
                CheckSig provides transparent Bitcoin custody solutions for institutional investors and high-net-worth
                individuals.
                Ensuring security, regulatory compliance, smooth inheritance, and privacy, we enjoy industry’s leading
                insurance policy.
                CheckSig rejects the “security-by-obscurity” paradigm in favor of a transparent process. Based on a peer
                reviewed open standard protocol, our segregated custody provides periodic proof-of-reserve and is
                audited by external
                firms.
                Internet disconnected as defense from remote hacks, our solution has two levels. The CheckSig cold
                storage is always empty except during withdrawals; the “frozen” storage with all assets is managed by
                multiple external
                legal entities whose only technical ability is to jointly move funds to cold storage when enabled by us.
                <br>
                We customize our custody services
                according to client's requirements:
                long term safe storage, inheritance plan,
                or arbitrage trading
            </p>
            <div class="row padding_slogan">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fab fa-4x fa-btc wow bounceIn text-primary"></i>
                        <h3>Transparency</h3>
                        {% include transparency.html %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fab fa-4x fa fa-shield-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Two-level solution</h3>
                        {% include twoLevel.html %}
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <a href="{{ site.baseurl }}/docs/CheckSig-Protocol.pdf"
                    class="btn btn-primary btn-xl page-scroll">Discover
                    the protocol</a>
            </div>
        </div>
</section>