<section id="protocol">
    <div class="container">
        <div class="row padding_slogan">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-btc wow bounceIn text-primary"></i>
                    <h3>Transparency</h3>
                    {% include transparency.html %}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa fa-shield-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Two-level solution</h3>
                    {% include twoLevel.html %}
                </div>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <a href="{{ site.baseurl }}/docs/CheckSig-Protocol.pdf" class="btn btn-primary btn-xl page-scroll">Discover
                the protocol</a>
        </div>
    </div>
</section>