<section id="why-bitcoin" class="colored_section">
    <div class="container">
        <div class="row padding">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:white">The Protocol</h2>
            </div>
        </div>
        <div class="row padding">
            <!--p class="text-muted">
                Bitcoin is about <em>financial sovereignty</em>
                and having direct control of
                your keys because, as people say,
                <em>not your keys, not your bitcoins</em>.
                Nonetheless, there are cases like institutional investors,
                high-net-worth individuals, lack of proper technical skills,
                etc. where a custodial solution
                might be convenient or even prescribed.
            </p-->
            <p class="text-muted" style="color:white">
                CheckSig implements an open transparent
                multi-party custody protocol that:
            <ul class="text-muted" style="color:white">
                <li>avoids reliance on "security by obscurity", being
                    an auditable <em>public standard</em>
                    subject to peer review;</li>
                <li>provides transparency to the custodian's clients,
                    so that they can be certain that their assets are
                    held in a secure manner.</li>
            </ul>
            </p>
            <p class="text-muted" style="color:white">
                The guiding principles defining this protocol are:
            <ul class="text-muted" style="color:white">
                <li>to store the bitcoins under custody in such a way as to minimize
                    risk of loss of funds through theft, error, or other mishaps;</li>
                <li>to rely on the Bitcoin protocol implementation
                    for security wherever possible, rather than
                    inventing new functionality or procedures;</li>
                <li>to remain neutral regarding future changes to the
                    Bitcoin protocol.</li>
            </ul>
            </p>
        </div>
    </div>
</section>