<section id="why-bitcoin" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="row padding">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Bitcoin</h2>
            </div>
        </div>
        <div class="row padding">
            <p>
                Digital and scriptural, it only exists as validated transaction. Bitcoin is an
                Asset, not a liability, and a bearer instrument. <br>
                It can be transferred but not duplicated (i.e. it can be spent, but not double-spent),
                it is scarce in the digital realm, as nothing else before.<br>
                It mimics gold monetary policy of decreasing incremental extraction:
                Bitcoin is the digital equivalent of gold
                with a secure uncensorable embedded settlement network.
            </p>
        </div>
        <div class="col-lg-12 text-center">
            <a href="{{ site.baseurl }}/docs/CheckSig-whyBitcoin.pdf" class="btn btn-primary btn-xl page-scroll">Learn
                more</a>
        </div>
    </div>
</section>