<section id="why-bitcoin" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="row padding">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Bitcoin</h2>
            </div>
        </div>
        <div class="row padding">
            <p>
                Bitcoin is the best performing asset of the last decade,
                with almost no correlation with the other asset classes.
                When added to a diversified asset allocation,
                Bitcoin reduces overall financial risks for a given expected return
                or, alternatively, increases expected return for a given level of risk.
                
                Digital and scriptural, Bitcoin only exists as validated transaction.
                It can be transferred but not duplicated
                (i.e. it can be spent, but not double-spent):
                it is scarce in the digital realm, as nothing else before.
                It mimics the gold monetary policy of decreasing incremental extraction:
                Bitcoin is the <em>digital equivalent of gold</em>
                with a secure uncensorable embedded settlement network.

                Bitcoin is a bearer instrument:
                if you lose your Bitcoin keys you lose your Bitcoin.
                We are here to help you store your Bitcoins safely.
            </p>
        </div>
        <div class="col-lg-12 text-center">
            <a href="{{ site.baseurl }}/docs/CheckSig-whyBitcoin.pdf" class="btn btn-primary btn-xl page-scroll">Learn
                more</a>
        </div>
    </div>
</section>