    html,
    body {
        height: 100%;
        width: 100%;
    }

    body {
        @include serif-font;
    }

    hr {
        border-color: $theme-primary;
        border-width: 3px;
        max-width: 50px;
    }

    hr.light {
        border-color: white;
    }

    a {
        @include transition-all;
        color: rgb(99, 153, 174);
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $theme-primary;
        @include sans-serif-font;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .bg-primary {
        background-color: $theme-primary;
    }

    .bg-white {
        background-color: white;
    }

    .bg-dark {
        background-color: $theme-dark;
        color: white;
    }

    .text-faded {
        color: rgba(white, .7);
    }

    .text-small {
        font-size: 14px;
    }

    .padding{
        padding: 30px;
    }

    .padding_slogan{
        padding: 25px 50px 25px 50px;
    }

    section {
        padding: 100px 0;
    }

    aside {
        padding: 50px 0;
    }

    .no-padding {
        padding: 0;
    }

    // Navigation
    .navbar-default {
        background-color: rgb(26, 23, 27) ;
        border-color: rgba($theme-dark, .5);
        @include sans-serif-font;
        @include transition-all;
        .navbar-header 
        .navbar-brand {
            color: white;
            text-align: center;
            @include sans-serif-font;
            font-weight: 800;
            padding: 5px;
            height: 60px;
            &:hover,
            &:focus {
                color: darken($theme-primary, 10%);
            }
        }
        .nav {
            margin: 5px;
            > li {
                > a,
                > a:focus { 
                    //text-transform: uppercase;
                    font-weight: 800;
                    font-size: 16px;
                    color: white;
                    &:hover {
                        color: white;
                    }
                }
                &.active {
                    > a,
                    > a:focus {
                        color: white !important;
                        background-color: rgb(26, 23, 27);
                        &:hover {
                            background-color: rgb(26, 23, 27);
                        }
                    }
                }
            }
        }
        @media (min-width: 768px) {
            background-color: transparent;
            border-color: rgba(rgb(26, 23, 27), .0);
            .navbar-header .navbar-brand {
                color: rgba(rgb(26, 23, 27), .7);
                &:hover,
                &:focus {
                    color: rgb(26, 23, 27);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: white; // text in top-page
                &:hover {
                    color: darken($theme-primary, 10%);
                }
            }
            &.affix {
                background-color: rgb(26, 23, 27); // background not in top-page 
                //border-color: rgba($theme-dark, .5);
                .navbar-header .navbar-brand {
                    color: white;
                    font-size: 14px;
                    height: 60px;
                    &:hover,
                    &:focus {
                        color: darken($theme-primary, 10%);
                    }
                }
                .nav > li > a,
                .nav > li > a:focus {
                    margin: 0px;
                    font-size: 14px;
                    color: $theme-primary; // text color all line
                    &:hover {
                        color: white; // text color not in top-page when over with pointer
                    }
                }
            }
        }
    }

    header {
    position: relative;
    width: auto;
    min-height: auto;
    @include background-cover;
    background-position: center;
    background-image: url('../img/header-5.jpg');
    text-align: center;
    color: white;
    // desktop option
    min-height: 40%;
    .header-content {
        position: middle;
        text-align: center;
        padding: 100px 15px 100px;
        top: 50%;
        .header-content-inner {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            h1 {
                padding: 100px;
                font-size: 25px;
                color: white;
                font-weight: bold;
            }
            h2 {
                font-size: 30px;
                margin-top: 100;
                margin-bottom: 100;
                color: white;
            }
            p {
                font-size: 20px;
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    // mobile option
    @media (max-width: 768px) 
    {
        .header-content {
            position: middle;
            text-align: center;
            padding: 100px 15px 100px;
            width: 100%;
            .header-content-inner {
                h1 {
                    padding: 100px;
                    font-size: 25px;
                    color: white;
                    font-weight: bold;
                }
                h2 {
                    font-size: 20px;
                    margin-top: 100;
                    margin-bottom: 100;
                    color: white;
                }
                hr {
                    margin: 30px auto;
                    border-color: white;
                }
                p {
                    font-size: 16px;
                    margin-bottom: 20px;
                    display: block;
                }
            }
        }
    }
}

    // Homepage Footer
    footer {
        padding: 25px 0;
        background-color: rgb(26, 23, 27);
        text-align: center;

        .list-inline-item {
            position: center;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            line-height: 130px;
            text-align: center;
          }

        p{
            color:white;
            font-size: 10px;
        }

        ul.social-buttons {
            margin-bottom: 0;
            li {
              a {
                font-size: 15px;
                line-height: 40px;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                color: $theme-primary;
                border-radius: 100%;
                outline: none;
                background-color: rgb(26, 23, 27);
                color: white;
                &:active,
                &:focus,
                &:hover {
                  background-color: $theme-primary;
                  color: white
                }

              }
            }
        }
    }
    
    // Sections
    .team {
        background-image: url('../img/team.jpg');
        position: relative;
        display: block; 
        background-size: cover;
        background-position: center;
        min-height: auto;
        hr {
            margin: 30px auto;
            //border-color: white;
        }
    }

    .colored_section {
        background-color:#6399ae;
    }
    .partners
     {
        padding: 80px 0 30px;
        font-size: 0;
        //background-color: rgb(244, 244, 244);

        @media (max-width: $container-responsive--width) {
        padding: 40px 0;
        }
    
        $this: &;
    
        img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        }

        &-i {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
        height: 130px;
        margin-bottom: 50px;
        box-sizing: border-box;
        padding: 0 10px;
        line-height: 130px;
        text-align: center;
    
        @media (max-width: $container-responsive--width) {
            width: 100%;
            height: auto;
            margin-bottom: 40px;
            line-height: normal;
        }
    
        &:last-child {
            @media (max-width: $container-responsive--width) {
            margin-bottom: 0;
            }
        }
        }
    
        &-link {
        &:hover #{$this}-name {
            text-decoration: underline;
        }
        }
    }
    
    .about{
        position: relative;
        width: 100%;
        min-height: auto;
        background-position: center;
        p{
            padding: 0px 10px 0px;
            text-align: justify;
        }
        li{
            font-size: 16px;
            line-height: 1.5;
        }
    }
           
    .section-heading {
        margin-top: 0;
    }

    .section-message {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .contacts {
        //margin: 0 20px 0;
        position: relative;
        width: 100%;
        min-height: auto;
        @include background-cover;
        //background-position: center;
        background-image: url('../img/info.jpg');
        text-align: center;
        
    }

    .map {
        height: 30rem;
    }
    
    @media (max-width: 992px) {
        .map {
        height: 75%;
        }
    }

    .map iframe {
        pointer-events: none;
    }
    
    // Bootstrap Overrides
    .text-primary {
        color: $theme-primary;
    }

    .no-gutter > [class*='col-'] {
        padding-right:0;
        padding-left:0;
    }

    // Button Styles
    .btn-default {
        @include button-variant($theme-dark, white, white);
    }

    .btn-primary {
        @include button-variant(white, $theme-primary, $theme-primary);
    }

    .btn {
        @include sans-serif-font;
        border: none;
        border-radius: 300px;
        font-weight: 700;
    }

    .btn-xl {
        padding: 15px 30px;
    }

    // Contact
    #contact .fa {
        color: $theme-dark;
        font-size: 4em;
    }

    // Extras
    // -- Highlight Color Customization
    ::-moz-selection {
        color: white;
        text-shadow: none;
        background: $theme-dark;
    }

    ::selection {
        color: white;
        text-shadow: none;
        background: $theme-dark;
    }

    img::selection {
        color: white;
        background: transparent;
    }

    img::-moz-selection {
        color: white;
        background: transparent;
    }

    body {
        -webkit-tap-highlight-color: $theme-dark;
    }

    img.alignleft,
    img.left        { float: left; margin:5px 15px 5px 0; }
    img.alignright,
    img.right       { float: right; margin:5px 0 5px 15px; }
    img.aligncenter,
    img.center      { display: block; margin:0 auto 10px; }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }
    
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .break-word {
        word-wrap: break-word;
      }